<div class="container" style="text-align: center;">
  <button (click)="goBack()" type="button" class="btn-close" style="margin-top:20px;" aria-label="Close"></button>
  <h2 class="text-d">Ghibli Films</h2>
  <div class="row" style="margin-top: 50px;">
    <div class="card movie-card" style="background: rgb(227, 237, 248);" *ngFor="let film of films">
      <img src="{{film.image}}" class="card-img-top" alt="...">
      <h5 class="card-title " style="height: 55px; text-overflow: ellipsis;"><span class="badge bg-success rate">{{film.rt_score}}</span> {{film.title}}</h5>
      <div class="card-body">
        <div class="movie-text">
          <p class="card-text">{{film.description}}</p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a routerLink="/film/{{film.id}}" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>